<div class="infoBoardFrame">
  <div class="infoBoard">
    <div class="info">
      <div class="infoTitle">
        <h1 style="text-align: center;"> Car Data </h1><br>
      </div>
      <div class="infoContent">
        <h3>Acceleration</h3>
        <h5 id="infoContentBullet">- a<sub>X</sub>: {{ ax }} m/s<sup>2</sup></h5>
        <h5 id="infoContentBullet">- a<sub>Y</sub>: {{ ay }} m/s<sup>2</sup></h5>
        <h5 id="infoContentBullet">- a<sub>Z</sub>: {{ az }} m/s<sup>2</sup></h5>
        <h3>Angular Velocity</h3>
        <h5 id="infoContentBullet">- &omega;<sub>X</sub>: {{ omega_x }} rad/s</h5>
        <h5 id="infoContentBullet">- &omega;<sub>Y</sub>: {{ omega_y }} rad/s</h5>
        <h5 id="infoContentBullet">- &omega;<sub>Z</sub>: {{ omega_z }} rad/s</h5>
      </div>
    </div>
  </div>
</div>
